<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='others.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='view_resource.css') }}">

<table border="0">
    <tr>
        <td>
            <div class="content_container resource_content_container rounded" style="padding:10px;">
                <table border="0" width="600" height="220"  id="main_resource_holder_tb">
                    <tr>
                        <td width="280" valign="top">
                            <div class="" id="resource_image_holder">
                                <img src="{{ resource.image_url }}" id="resource_image" />
                            </div>
                        </td>
                        <td valign="top">
                            <div class="time_display_container">
                                14 Aug 2013 14:45
                            </div>
                            <div class="rounded" id="resource_title_from_container">
                                <div id="resource_title_holder">
                                    <a href="{{ resource.url }}">{{ resource.title }}</a>
                                </div>
                                <div id="resource_from_holder">
                                    From <a href="{{ resource.url }}">www.google.com</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="collection_description" id="collection_desc_customize_position">
                                {{ resource.desc }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="content_container resource_content_container rounded" id="relation_container_customize">
                
                {% for key in related.keys() %}
                    <div class="small_container group_content_container" style="">
                        <span class="short_title rounded"><b>{{ key }}</b></span>
                        <table border="0" class="indiv_resource_holder" style="margin-top:10px;">
                        
                            {% for item in related[key] %}
                                {% if (loop.index-1) % 3 == 0 %}
                                    {% if not loop.first %}
                                        </tr>
                                    {% endif %} 
                                    <tr><td>
                                {% else %}
                                    <td class="indiv_resource_container" style="">
                                {% endif %}
                                        <div class="indiv_resource_container" style="margin-left:20px;">
                                            <div class="img_container_small">
                                                <a href="{{ item.url }}"><img src="{{ item.image_url }}" class="img_representative_collection" /></a>
                                            </div>
                                            <div class="title_representative_collection">
                                                <a href="{{ item.url }}">{{ item.title[:25] + '...' }}</a>
                                            </div>
                                        </div>
                                {% if (loop.index-1) % 3 == 0 %}
                                    </td>
                                    {% if loop.last %}
                                        </tr>
                                    {% endif %} 
                                {% else %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            
                        </table>
                    </div>
                {% endfor %}
                
            </div>
        </td>
        <td valign="top">
            <div class="content_container rounded" id="right_side_info" style="min-height:250px; padding-bottom:5px;">
                <div style="text-align:center; padding-top:20px;">
                    <a style="width:200px;" href="{{ url_for('add_relation', rid=resource.rid, gid=resource.cgroup_id, cid=resource.collection_id) }}" class="myButton">Add New Relation</a>
                </div>
                <div class="collection_description related_from_box">
                    Used from:
                        {% for item in from_related %}
                            <div class="indiv_rel_from_item_container">
                                <a href="{{ url_for('view_resource', rid=item.rid) }}">{{ item }}</a>
                            </div>
                        {%- endfor %}
                </div>
            </div>
        </td>
    </tr>
</table>